.form-nav{
    @include for-mobile{
        overflow: hidden;
        display: flex;
        width: 100%;
        border-radius: 10px 0 0 0;
    }

    @include mobile{
        display: grid;
        border-radius: 10px 10px 0 0;
        grid-template-columns: repeat(2, 1fr);
    }


    &__item{
        @include mobile{
            &:last-of-type{
                overflow: hidden;
                border-radius: 0 10px 0 0;
                grid-column: 2/3;
                grid-row: 1;
            }
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 137px;
        padding: 10px 14px;
        height: 54px;
        border-bottom: 1px solid var(--br-d);
        border-right: 1px solid var(--br-d);
        transition: all .3s;
        grid-gap: 8px;
    
        @include mobile{
            &:not(.form-nav__btn--add, .form-nav__btn--mode){
                display: none;
            }
        }

        @include mobile {
            width: 100%;
        }
        
       &:hover{
        background-color: rgba(var(--bg-j),.7);
       }

        &--add{
          
            .form-nav__btn-text{
                display: none;
            }
            
            &:not(.active){
                @include for-mobile{
                    width: fit-content;
                }
            }

            &.active{
                
                svg{
                    display: none;
                }
                .form-nav__btn-text{
                    max-width: initial;
                    display: inline;
                }

                @include mobile{
                    border-radius: 0 10px 0 0;
                }
            }
        }

        &.active{
            background-color: rgba(var(--cl-h),1.0);
            border-color: var(--br-b);

            .form-nav__btn-text{
                color: rgba(var(--cl-a),1.0);   
                
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }

            .form-nav__btn-arrow{
                svg{
                    stroke:rgba(var(--cl-a),1.0);
                }
            }

            &:hover{
                background-color: rgba(var(--cl-h),.8); 
            }
        }

        &--mode{
            @include mobile{
                display: none;
            }
        }
    
        &-text{
            line-height: 120%;
            font-weight: 500;
            font-size: 14px;
            color: rgba(var(--cl-c),1.0);
            text-align: start;
            width: fit-content;
            max-width: 77px;
            position: relative;
            pointer-events: none;

            &::before{
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                left: -12px;
                height: 6px;
                width: 6px;
                border-radius: 100%;
                background-color: rgba(var(--cl-a),1.0);
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
            }
        }

        svg,img{
            pointer-events: none;
        }
    }

    .select{

        &.active{
            box-shadow: 0 3px 4px 0 rgba(0, 125, 173, 0.2);
        }

        @include for-mobile{
            display: none;
        }

        border-radius: 10px 0 0 0;
        height: 54px;

        &:after{
            left: -1px;
            right: -1px;
            bottom: -1px;
        }

        &__header{
            justify-content: center;
            grid-gap: 8px;
            height: 54px;
        }

        &__list{
            &:has(> .select__option:nth-child(2):nth-last-child(2)) {
                .select__option:nth-child(2) {
                 border-bottom: none;
                }
              }

              grid-gap: 5px;
              padding: 5px 0 7px;
        }

        &__option{
            justify-content: center;
            padding: 13px 0 8px;
            border-bottom: none;
            
            &:not(:first-of-type, :nth-of-type(2)){
                border-top: solid 1px var(--br-d);
            }
            
        }

        &__current{
            width: fit-content;
            flex-grow: initial;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;

            @include for-ios{
                max-width: clamp(110px, 36.931vw, 200px);
            }

            @include ios{
                max-width: clamp(110px, 34.931vw, 200px);
            }
        }
        
    }
}